@model RestaurantOrder.Services.Contracts.ConnectionDishOrder

<link href="~/css/StyleMenuAndAdmin.css" rel="stylesheet" type="text/css" />
    
    <h1 style="color: #ad0aff">Create order</h1>
    <div class="container">
        <div class="dish">
            @foreach (var dish in Model.Dishes)
            {
                <h3 class="name">@dish.Name</h3>
                <p class="name">Price: <span>@dish.Price$</span></p>
                <p class="name">Description: @dish.Description</p>
                <p class="name">What dish consists of:</p>
                @foreach (var product in dish.NeededProducts)
                {<p style="color: blueviolet">@product.Product.Name - @product.Product.Quantity</p>

            }
                <form method="post" asp-controller="Dish" asp-action="AddDishToList">
                    <input class="display-none" name="dishId" type="number" hidden value="@dish.Id" />
                    <input class="display-none" name="orderId" type="number" value="@ViewBag.OrderId" hidden />


                    @if (Model.IsDishInOrder(@dish.Id))
                    {
                        <input class="input quantity" disabled="disabled" value="@Model.Quantity" />
                        <input class="add" disabled="disabled" type="submit" value="Add to order" />
                        <hr />
                    }
                    else
                    {
                        <input class="input" name="quantity" type="number" min="1" />
                        <input class="add" type="submit" value="Add to order" />
                        <hr />
                    }

                </form>
            }
        </div>
        @if (ViewBag.CountOfDishes < 1)
        {
            <a class="make-order disabled" href="#">Add 1 or more dishes to order</a>
        }
        else
        {
            <a class="make-order" asp-action="AddedDishes" asp-route-orderId="@Model.Order.OrderId">Check list of dishes</a><hr/>
            <a class="make-order"  asp-controller="Home" asp-action="Index">Make order</a>
        }

    </div>

