@model IEnumerable<RestaurantOrder.Domain.Core.Entities.Dish>
<style>
    a.disabled {
        color: #888;
        pointer-events: none;
        cursor: default;
    }
</style>

<link href="StylePartial.css" rel="stylesheet" type="text/css">
    
    <h1>Create order</h1>
    <div class="container">
        <div class="dish">
            @foreach (var dish in Model)
            {
                <h3 class="name">@dish.Name</h3>
                <p class="name">Price: <span>@dish.Price$</span></p>
                <p class="name">Description: @dish.Description</p>
                <form method="post" asp-controller="Dish" asp-action="AddDishToList">
                    <input class="display-none" name="dishId" type="number" hidden value="@dish.Id" />
                    <input class="display-none" name="orderId" type="number" value="@ViewBag.OrderId" hidden />
                    <input class="input" name="quantity" type="number" min="1" />
                    <input class="add" type="submit" value="Add to order" />
                </form>
            }
        </div>
        @if (ViewBag.CountOfDishes < 1)
        {
            <a class="make-order disabled" href="#">Add 1 or more dishes to order</a>
        }
        else
        {
            <a class="make-order" asp-controller="Home" asp-action="Index">Make order</a>
        }

    </div> 

<!--script to disable the submit button -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js">  
</script>
<script type="text/javascript">

    $("form").submit(function() {
        $(this).find('input[type="submit"]').prop("disabled", true);
    });

</script> 