@model IEnumerable<RestaurantOrder.Domain.Core.Entities.Dish>

<link href="StylePartial.css" rel="stylesheet" type="text/css" >
    
    <h1>Create order</h1>
    <div class="container">
        <div class="dish">
            @foreach (var dish in Model)
            {
                <h3 class="name">@dish.Name</h3>
                <p class="name">Price: <span>@dish.Price$</span></p>
                <p class="name">Description: @dish.Description</p>
                <form method="post" asp-controller="Dish" asp-action="AddDishToList">
                    <input class="display-none" name="dishId" type="number" hidden value="@dish.Id" />
                    <input class="display-none" name="orderId" type="number" value="@ViewBag.OrderId" hidden />
                    <input class="input" name="quantity" type="number" min="1" />
                    <input class="add" type="submit" value="Add to order" />
                </form>
            }
        </div>
        <a class="make-order" asp-controller="Home" asp-action="Index">Make order</a>
    </div>  