@using RestaurantOrder.Services.Contracts;
@model IEnumerable<OrderDto>

<link href="~/css/order.css" rel="stylesheet" type="text/css" />
<h1>All orders</h1>
<div class="container">
    <div class="order">
        
        @foreach (var order in @Model)
        {
            <p class="name">Table number: @order.TableNumber</p>
            <p class="name">Notes: @order.Notes</p>
            @foreach (var neededDish in order.NeededDishes)
            {
                <p class="name">Name: @neededDish.Dish.Name</p>
                <p class="name">Price: @neededDish.Dish.Price</p>
                <p class="name">Quantity: @neededDish.DishQuantity</p>
                <hr/>
            }
            <a class="d-block" asp-action="DeleteOrder" asp-route-id="@order.OrderId">Delete order</a>

            <p class="name" style="background-color: #2eba22">Total price: @order.Sum</p>
            <hr />
        }
       



    </div>
    <a class="return-home" asp-controller="Home" asp-action="Index">Return home</a>
</div>