@using RestaurantOrder.Services.Contracts;
@model IEnumerable<OrderDto>

<link href="~/css/StylePartial.css" rel="stylesheet" type="text/css" />
<h1 style="color: #ad0aff">All orders</h1>
<div class="container">
    <div class="dish">
        
        @foreach (var order in @Model)
        {
            <h1 style="color: #760da6 ">Table number: @order.TableNumber</h1>
            <p style="color: blueviolet">Notes: @order.Notes</p>
            @foreach (var neededDish in order.NeededDishes)
            {
                <p class="name">Name: @neededDish.Dish.Name</p>
                <p class="name">Price: @neededDish.Dish.Price</p>
                <p class="name">Quantity: @neededDish.DishQuantity</p>
                <hr/>
            }
            <a class="make-order"  asp-action="DeleteOrder" asp-route-id="@order.OrderId">Delete order</a><hr>

            <p class="name" style="background-color: #a761ed">Total price: @order.Sum</p>
            <hr />
        }
       



    </div>
    <a class="make-order" asp-controller="Home" asp-action="Index">Return home</a>
</div>